<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Aviso</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-header translucent="true" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Aviso</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="height: 10px;"></div>
  <ion-item lines="none">
    <h4 style="font-weight: bold;">{{aviso.titulo}}</h4>
  </ion-item>
  <ion-item lines="none">
    <h5>Em: {{aviso.Tema.descricao}}</h5>
  </ion-item>
  <ion-item style="font-size: 12px;">
    <p>{{aviso.DataPostagem | date: 'dd/MM/yyyy'}}</p>
  </ion-item>
  <ion-item lines="none">
    <p style="word-break: break-word;">{{aviso.conteudo}}</p>
  </ion-item>
  

</ion-content>