<ion-content class="center">
    <div class="height-full bg-green">
        <div class="width-full height-full">
            <!--Icone-->
            <div class="width-full height-40pc flex">
                <img src="/assets/images/bear.png" alt="bear" class="width-100 height-100 margin-auto">
            </div>
            <div class="bg-white padding-top-30 round-top-corner height-60pc">
                <!--Texto-->
                <div class="margin-left-20 margin-top-20">
                    <h3 class="gray-color font-30">Seja bem vindo,</h3>
                    <h3 class="gray-color font-20">Digite seu usuário para continuar:</h3>
                </div>
                <!--Input Text-->
                <div class="margin-top-20">
                    <ion-item lines="none" class="border-all padding-5 margin-side-20 ion-no-padding">
                        <ion-icon name="person" class="gray-color margin-left-10"></ion-icon>
                        <ion-input type="email" class="margin-left-20 gray-color"></ion-input>
                    </ion-item>
                </div>
                <div class="margin-top-20">
                    <ion-item lines="none" class="border-all padding-5 margin-side-20 ion-no-padding">
                        <ion-icon name="key" class="gray-color margin-left-10"></ion-icon>
                        <ion-input type="password" class="margin-left-20 gray-color"></ion-input>
                    </ion-item>
                </div>
                <!--Button Entrar-->
                <div class="margin-side-20 margin-top-20 height-50">
                    <ion-button expand="block" class="round-button height-50 button-color-green">
                        <div class="padding-20">
                            <p class="bold">Entrar</p>
                        </div>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>
</ion-content>