<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sócio Orgão</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" (keyup)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let usuario of usuariosList" lines="full" detail (click)="clickUser(usuario)">
      <ion-label>{{usuario.login}} - {{usuario.nome}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>